<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sumui.dao.mapper.finance.BookFamilyUsersMapper">

    <resultMap id="BaseResultMap" type="com.sumui.common.model.finance.BookFamilyUsers">
            <id property="bookId" column="book_id" />
            <id property="userId" column="user_id" />
            <result property="id" column="id" />
            <result property="createBy" column="create_by" />
    </resultMap>

    <sql id="Base_Column_List">
        book_id,user_id,id,create_by
    </sql>
    <select id="selectFamilyUsersByBookId" resultType="com.sumui.common.model.dto.BookFamilyUsersDTO">
        select user.id as user_id, user.username,user.nickname
        from book_family_users family
        inner join sys_user user on user.id = family.user_id
        where family.book_id = #{bookId}
    </select>
    <select id="checkUserBookPermission" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM book_family_users
        WHERE book_id = #{bookId} AND user_id = #{userId} AND permission = #{permission} AND status = 0
    </select>
</mapper>
