<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sumui.dao.mapper.finance.BooksMapper">

    <resultMap id="BaseResultMap" type="com.sumui.common.model.finance.Books">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="type" column="type" />
            <result property="description" column="description" />
            <result property="coverImage" column="cover_image" />
            <result property="status" column="status" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type,description,cover_image,status,
        created_at,updated_at
    </sql>
    <select id="getUserBooks" resultType="com.sumui.common.model.finance.Books">
        SELECT ab.*
        FROM books ab
        LEFT JOIN book_family_users bm ON ab.id = bm.book_id AND bm.user_id = #{userId} AND bm.status = 0
        WHERE (ab.user_id = #{userId} OR bm.id IS NOT NULL) AND ab.status = 0
        ORDER BY ab.created_at DESC
    </select>
    <select id="getBookMemberCount" resultType="java.lang.Integer">
        SELECT COUNT(1) FROM books WHERE id = #{bookId} AND status = 0
    </select>
    <select id="selectBooksDTOByUserId" resultType="com.sumui.common.model.dto.BooksDTO">
        select books.id,
               books.name,
               books.type,
               books.cover_image,
               books.description,
               books.status,
               books.budget_amount,
               count(bills.id)                          as billCount,
               sum(IF(bills.type = 2, bills.amount, 0)) as total_income,
               sum(IF(bills.type = 1, bills.amount, 0)) as total_expense
        from books
                 left join bills on bills.book_id = books.id
        where books.user_id = #{userId} or books.id = #{familyBookId}
        group by books.id
    </select>
</mapper>
