<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sumui.dao.mapper.finance.BookFamilyUsersMapper">

    <resultMap id="BaseResultMap" type="com.sumui.common.model.finance.BookFamilyUsers">
            <id property="bookId" column="book_id" />
            <id property="userId" column="user_id" />
            <result property="id" column="id" />
            <result property="createBy" column="create_by" />
    </resultMap>

    <sql id="Base_Column_List">
        book_id,user_id,id,create_by
    </sql>
</mapper>
